	header{
		margin: auto;
		width: 80%;
		height: 6em;
		background-color: #00b3b3;
		color :white;
	}
	
	article#banca	 {
		margin: auto;
		width: 80%;
		height: 13em;
		background-color: #009933;
		color: black;
		padding: 2em;
	}
	article#usuario{
		margin: auto;
		width: 80%;
		height: 12em;
		background-color: #009933;
		color: black;
		padding: 2em;
	}
	footer{
		margin: auto;
		width: 80%;
		height: 3em;
		background-color: #00b3b3;
		color :white;
		text-align: right;
	}
	#titulo{
		color:white;
		text-align: center;
		background-color: #00b3b3;
		font-family: Comic Sans MS;
		/*Brush Script MT
		Comic Sans MS
		Aharoni
		*/
	}
	#separador{
		width: 80%;
		height: 0.2em;
		background-color: #000;
		margin: auto;

	}
	#score_banca, #score_usuario{
		float: right;
		font-size: 1.5em;
		color: #000;
	}
	#botones{
		width: 80%;
		height: 3em;
		background-color: #009933;
		margin: auto;
	}